@font-face {
  font-family: "iconfont"; /* Project id 4555929 */
  src: url('iconfont.woff2?t=1716363079510') format('woff2'),
       url('iconfont.woff?t=1716363079510') format('woff'),
       url('iconfont.ttf?t=1716363079510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e622";
}

.icon-fangxingjianhao:before {
  content: "\e649";
}

.icon-fangxingjiahao:before {
  content: "\e648";
}

